* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'popins', sans-serif;
  background-image: url(images/Untitled.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #262626;
  text-transform: uppercase;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-top: 20px;
}

.item {
  text-transform: uppercase;
  width: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 5px;
  background-color: white;
  padding: 10px 30px;
}

.item:hover {
  color: white;
  background-color: #FE1394;
  cursor: pointer;
}