* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #fc546d, #FFD3A6);
  font-family: 'poppins', sans-serif;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 30%;
  height: 55%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.heading {
  font-size: small;
  padding-bottom: 20px;
  height: auto;
}

.heading h1 {
  font-weight: bolder;
  font-size: xx-large;
}

.heading h2 {
  font-weight: normal;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  width: 100%;
  padding: 10px;
  background-color: #E2E2E2;
  border: none;
  border-radius: 2px;
}

form button {
  padding: 10px;
  background-color: #4894F8;
  border: none;
  color: white;
  border-radius: 2px;
}

.footer {
  margin-top: 10px;
  display: flex;
  font-size: 14px;
  gap: 3px;
}

a {
  text-decoration: none;
  color: #4894F8;
}
